$mycolor:#fff;
$textcolor:rgb(170, 168, 168);
$background:rgb(37, 37, 37);
$colorheading:#fff;
$font:Bahnschrift Light;
$height:5%;
$mainpadding:10px;
$border-bottom: 0.4px solid $textcolor;
$darkgray:rgb(38, 37, 43);