#Execution{
    position: relative;
    
    margin-left: 4.95em;
    border-left: 0.3px ;
    border-right:0.3px l ;
}
#apollyon{
    border-left: 0.3px ;
    border-right:0.3px   ;
    right: -2em;
    padding-left: 15px
}
#left_behind{
    border-left:  ;
    border-right: ;
    padding-right:;
    margin-left: 5.3em
}
#The_Indwelling{
    border-left;
    border-right:;
    padding-right:;
    margin-left: 5.1em;
}
.checked{
    color: orange;
}
#div-blog{
    background-color:;
    height: 20em;
    width: 45%;
    color: black;
}
#Armageddon{
    margin-top: 0px;
}
#Before{
    margin-top: 0px;
    padding-top: 0px;
    margin-left: 5.3em;
}
#Think-big{
    margin-left: 2.8em;
}
#rich-dad{
margin-left: 5.8em;
}
#Road-to{
    margin-left: 5.1em;
}
#Where-is{
    margin-left: 5.2em;
}